<p id="alert"> <%= alert %> </p>

<%= form_tag "/main/login" %>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :pass %>
    <%= text_field_tag :pass %>
  </div>

  <div class="actions">
    <%= submit_tag "Login"%>
  </div>