<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<%= link_to 'Recreate', create_fast_url(name:@user.name, email:@user.email, birthday:@user.birthday) %>
<%= link_to 'Back', users_path %>
